<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shop" class="com.learning.speldemo.data.Shop">
        <property name="name" value="#{'Tiki'}"/>
        <property name="totalProducts" value="#{2093}"/>
        <property name="country" value="#{systemProperties['user.country']}"/>
        <property name="timeZone" value="#{systemProperties['user.timezone']}"/>
    </bean>

</beans>